body {
    background: #f2f2f2;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.main-panel {
    width: 1000px;
    margin: 30px auto;
}

.box {
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #EEE;
    margin-bottom: 20px;
}

table.tabe-locations {
    width: 100%;
    border-collapse: collapse;
}

.statusToggle {
    min-width: 70px;
    text-align: center;
    background: #eee;
    color: #686868;
    border: 0;
    padding: 3px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    font-family: iransans;
    display: inline-block;
    margin: 0 3px;
}

.statusToggle.active {
    background: #0c8f10;
    color: #ffffff;
}

.statusToggle:hover,
button.preview:hover {
    opacity: 0.7;
}

button.preview {
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

tr {
    line-height: 36px;
}

tr:nth-child(2n) {
    background: #f7f7f7;
}

td {
    padding: 0 5px;
}

iframe#mapWindow {
    width: 100%;
    height: 500px;
}

.text-center {
    text-align: center;
}